---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Skills from '~/components/widgets/Skills.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'About', href: getPermalink('/about2') },
        { text: 'Resume', href: getPermalink('/resume') },
        { text: 'Portfolio', href: getPermalink('/portfolio') },
        { text: 'Blog', href: '/blog' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Resume"
    actions={[{ variant: 'primary', text: 'Download Resume', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps3
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Senior Backend Engineer <br /> <span class="font-normal"><a href="https://www.pasarpolis.com" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">PasarPolis</a></span> <br /> <span class="text-sm font-normal">Juli 2017 - Februari 2018</span>',
          description: `
        <ol class="list-disc list-inside">
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
        </ol>`,
        logo: 'src/assets/images/hijrabyalamigrouplogo_125x125.jpeg',
      },
      {
        title:
          'Senior Backend Engineer <br /> <span class="font-normal"><a href="https://www.pasarpolis.com" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">PasarPolis</a></span> <br /> <span class="text-sm font-normal">Juli 2017 - Februari 2018</span>',
          description: `
        <ol class="list-disc list-inside">
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
        </ol>`,
        logo: 'src/assets/images/linkajalogo_125x125.jpeg',
      },
      {
        title:
          'Software Engineer - Backend <br /> <span class="font-normal"><a href="https://www.pasarpolis.com" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">PasarPolis</a></span> <br /> <span class="text-sm font-normal">Juli 2017 - Februari 2018</span>',
          description: `
        <ol class="list-disc list-inside">
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
        </ol>`,
        logo: 'src/assets/images/kuriologo_125x125.jpeg',
      },
      {
        title:
          'Backend Developer <br /> <span class="font-normal"><a href="https://www.pasarpolis.com" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">PasarPolis</a></span> <br /> <span class="text-sm font-normal">Juli 2017 - Februari 2018</span>',
          description: `
        <ol class="list-disc list-inside">
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
        </ol>`,
        logo: 'src/assets/images/cohivespacelogo_125x125.jpeg',
      },
      {
        title:
          'Full Stack Developer <br /> <span class="font-normal"><a href="https://www.pasarpolis.com" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline">PasarPolis</a></span> <br /> <span class="text-sm font-normal">Juli 2017 - Februari 2018</span>',
        description: `
        <ol class="list-disc list-inside">
            <li>
                Implemented Midtrans payment gateway, automating the payment verification process and reducing transaction processing time by 80%.
            </li>
        </ol>`,
        logo: 'src/assets/images/pasarpolislogo_125x125.jpeg',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Information System <br /> <span class="font-normal">Universitas Brawijaya</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps3
    id="resume"
    title="Educationsdfsdf"
    items={[
      {
        title: `Programming Language <br /> <br /> <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <li class="flex items-center space-x-2">
          <img src="https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt="Image 1">
          <img src="https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt="Image 2">
        </li>
        <!-- Repeat for other list items -->
</ul>`,
        icon: 'tabler:code',
      },
      {
        title: `Information System <br /> <span class="font-normal">Universitas Brawijaya</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Information System <br /> <span class="font-normal">Universitas Brawijaya</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Skills
    id="resume"
    title="Education"
    items={[
      {
        title: `Information System <br /> <span class="font-normal">Universitas Brawijaya</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

</Layout>
